@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 51, 51, 51;
  --background-rgb: 242, 250, 255;
  --bg-circle-1-rgb: 4, 191, 157;
  --bg-circle-2-rgb: 46, 208, 208;
  --bg-circle-3-rgb: 18, 151, 159;
}

:root.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 23, 32, 38;
}

body {
  transition: background 0.2s ease, color 0.2s ease;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.bg-circle-1, .bg-circle-2, .bg-circle-3 {
  position: absolute;
  border-radius: 200px;
}

.bg-circle-1 {
  background: rgb(var(--bg-circle-1-rgb));
  width: 150px;
  height: 150px;
  top: 5%;
  left: 7%;
}

.bg-circle-2 {
  background: rgb(var(--bg-circle-2-rgb));
  width: 200px;
  height: 200px;
  top: 30%;
  right: 10%;
}

.bg-circle-3 {
  background: rgb(var(--bg-circle-3-rgb));
  width: 180px;
  height: 180px;
  left: 40%;
  bottom: 3%;
}

@keyframes moveCircle1 {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(70px, 100px);
  }
}

@keyframes moveCircle2 {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-50px, 130px);
  }
}

@keyframes moveCircle3 {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-160px, -100px);
  }
}

.bg-circle-1 {
  animation: moveCircle1 6s ease-in-out infinite;
}

.bg-circle-2 {
  animation: moveCircle2 8s ease-in-out infinite;
}

.bg-circle-3 {
  animation: moveCircle3 10s ease-in-out infinite;
}


.scroll-container {
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.scroll-area {
  scroll-snap-align: start;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
